<div class="content">
  <div>
      <h3>updates</h3>
  </div>
  <div>
    <div class="post">
      <div class="book_block">
        <div class="user_action">
          <a>Roman Syrnyk</a>
          <span>is currently reading</span>
        </div>
        <div class="book_details">
          <div class="book_image">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1396075356i/597033._SY180_.jpg" alt="">
          </div>
          <div class="text">
            <div class="book_title">Soul Music (Discworld, #16)</div>
            <div class="book_author">by Terry Pratchett</div>
            <div class="book_description">Other children get given xylophones. Susan just had to ask her grandfather to take his vest off. 
                Yes. There's a Death in the family.
                
                It's hard to grow up normally when Grandfather rides a white horse and wields a scythe – especially when you have to take over the family business, and everyone mistakes you for the Tooth Fairy.</div>
          </div>
        </div>
      </div>
      <div class="for_comments">
        <div class="avatar"></div>
        <div class="for_input">
          <input type="text" placeholder="Write a comment…">
        </div>
      </div>
    </div>

    <div class="post">
        <div class="book_block">
          <div class="user_action">
            <a>Iryna Gnativ</a>
            <span>is currently reading</span>
          </div>
          <div class="book_details">
            <div class="book_image">
              <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1216305543i/1033918._SX120_.jpg" alt="">
            </div>
            <div class="text">
              <div class="book_title">Harry Potter en de Steen der Wijzen (Harry Potter, #1)</div>
              <div class="book_author">by J.K. Rowling</div>
              <div class="book_description">Harry Potter is een doodgewone, maar ongelukkige jongen die sinds de dood van zijn ouders bij zijn saaie en hardvochtige oom en tante woont, in de bezemkast onder de trap.</div>
            </div>
          </div>
        </div>
        <div class="for_comments">
          <div class="avatar"></div>
          <div class="for_input">
            <input type="text" placeholder="Write a comment…">
          </div>
        </div>
      </div>

    <div class="post">
      <div class="book_block">
        <div class="user_action">
          <a>Roman Syrnyk</a>
          <span>is currently reading</span>
        </div>
        <div class="book_details">
          <div class="book_image">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1396075356i/597033._SY180_.jpg" alt="">
          </div>
          <div class="text">
            <div class="book_title">Soul Music (Discworld, #16)</div>
            <div class="book_author">by Terry Pratchett</div>
            <div class="book_description">Other children get given xylophones. Susan just had to ask her grandfather to take his vest off. 
                Yes. There's a Death in the family.
                
                It's hard to grow up normally when Grandfather rides a white horse and wields a scythe – especially when you have to take over the family business, and everyone mistakes you for the Tooth Fairy.</div>
          </div>
        </div>
      </div>
      <div class="for_comments">
        <div class="avatar"></div>
        <div class="for_input">
          <input type="text" placeholder="Write a comment…">
        </div>
      </div>
    </div>
  </div>
</div>