<header>
  <nav>
    <ul>
      <li><a></a></li>
      <li><a routerLink='/home'>Home</a></li>
      <li><a routerLink='/my-books'>My Books</a></li>
      <li><a>Browse</a></li>
      <li><a>Community</a></li>
    </ul>
  </nav>
  <form action="">
    <input type="search" placeholder="Search books">
  </form>
  <div class="notifications">
    <ul>
      <li><a><span class="notifications"></span></a></li>
      <li><a><span class="discussions"></span></a></li>
      <li><a><span class="messages"></span></a></li>
      <li><a><span class="friend"></span></a></li>
      <li><a><span class="user"></span></a></li>
    </ul>
  </div>
</header>