header {
    background-color: #F4F1EB;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-sizing: border-box;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height: 50px;
    padding: 0 22px;
    width: 100%;
    form {
        display: inline-block;
        margin-top: 9px;
        margin-right: 8px;
        position: relative;
        width: 370px;
        input {
            background: #FFFFFF;
            border: #DCD6CC 1px solid;
            border-radius: 3px;
            color: #333333;
            font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
            height: 32px;
            padding: 3px 9px;
            resize: none;
            width: 100%;
        }
        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTlweCIgd2lkdGg9IjE4cHgiIHZpZXdCb3g9IjAgMCAxOCAxOSI+IDxnIGlkPSJBc3NldHMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0ibm9uZSI+IDxnIGlkPSJHcm91cCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiM5QjlCOUIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEgMSkiPiA8cGF0aCBpZD0iT3ZhbC0zIiBvcGFjaXR5PSIuODc1NjQiIGQ9Im02IDEyYzMuMzEzNyAwIDYtMi42ODYzIDYtNnMtMi42ODYzLTYtNi02LTYgMi42ODYzLTYgNiAyLjY4NjMgNiA2IDZ6Ii8+IDxwYXRoIGlkPSJMaW5lIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJtMTAuNSAxMS41bDQuMjQzIDQuMjQzIi8+ICA8L2c+IDwvZz48L3N2Zz4=) no-repeat;
            background-position: center;
            background-size: 18px 18px;
            content: '';
            height: 18px;
            position: absolute;
            right: 8px;
            top: 8px;
            width: 18px;
        }
    }
    nav {
        display: inline-block;
        margin: 0 15px;
        ul {
            li {
                a {
                    color: #382110;
                    font-size: 16px;
                    padding: 17px 15px;
                    text-decoration: none;
                    &:hover {
                        background-color: #382110;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                }
                &:first-child {
                    height: 50px;
                    &:hover {
                        background-color: transparent;
                        color: #FFFFFF;
                        cursor: pointer;
                    }
                    a {
                        background: url(https://s.gr-assets.com/assets/layout/header/goodreads_logo.svg) no-repeat;
                        background-position: center;
                        background-size: 140px 30px;
                        display: inline-block;
                        height: 50px;
                        padding: 0 15px;
                        width: 150px;
                    }
                }
            }
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .notifications {
        a {
            cursor: pointer;
            display: inline-block;
            height: 50px;
            position: relative;
            width: 46px;
            &:hover {
                background-color: #382110;
                cursor: pointer;
                a {
                    color: #FFFFFF;
                }
            }
            span {
                display: block;
                height: 30px;
                margin: 10px 8px;
                width: 30px;
            }
            .notifications {
                background: url(https://s.gr-assets.com/assets/layout/header/icn_nav_notifications.svg) 0 center no-repeat;
            }
            .discussions {
                background: url(https://s.gr-assets.com/assets/layout/header/icn_nav_discussions.svg) 0 center no-repeat;
            }
            .messages {
                background: url(https://s.gr-assets.com/assets/layout/header/icn_nav_msgs.svg) 0 center no-repeat;
            }
            .friend {
                background: url(https://s.gr-assets.com/assets/layout/header/icn_nav_friend.svg) 0 center no-repeat;
            }
            .user {
                background: url(https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/users/1528291780i/82730795._UX60_CR0,0,60,60_.jpg) 0 center no-repeat;
                background-size: 30px 30px;
                border-radius: 50%;
            }
        }
    }
}