<div class="sidebar">
  <section>
    <h3>WANT TO READ</h3>
    <div>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348968933i/11961391._UX96_CR0,12,96,96_.jpg" >
      </a>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442874837i/26794832._UX96_CR0,21,96,96_.jpg" >
      </a>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1468508606i/31120745._UX96_CR0,23,96,96_.jpg" >
      </a>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1367545443i/157993._UX96_CR0,24,96,96_.jpg" >
      </a>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1421105759i/24472316._UX96_CR0,29,96,96_.jpg" >
      </a>
      <a>
        <img alt="The Little Prince" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1351643740i/4381._UX96_CR0,24,96,96_.jpg" >
      </a>
    </div>
    <div class="all_books"><a>View all books</a></div>
  </section>
</div>