<main>
 <div class="post">
    <div class="book_block">
      <div class="book_details">
        <div class="book_image">
          <img src="{{selectedBook.cover | defaultImage:'https://tse2.mm.bing.net/th?id=OIP.t07FMc4JqgAFPHymMhD87gHaEK&pid=15.1&P=0&w=270&h=153':true}}" alt="">
        </div>
        <div class="text">
          <div class="book_title">{{selectedBook.title}}</div>
          <div class="book_author">{{selectedBook.author}}</div>
          <div class="book_description">Other children get given xylophones. Susan just had to ask her grandfather to take his vest off. 
              Yes. There's a Death in the family.
              
              It's hard to grow up normally when Grandfather rides a white horse and wields a scythe – especially when you have to take over the family business, and everyone mistakes you for the Tooth Fairy.</div>
        </div>
      </div>
    </div>
    <div class="for_comments">
      <div class="avatar"></div>
      <div class="for_input">
        <input type="text" placeholder="Write a comment…">
      </div>
    </div>
  </div>
</main> 